* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #000;
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 380px;
    text-align: center;
    padding: 30px 20px;
}

/* Logo */
.logo {
    margin-bottom: 40px;
}

.jt {
    font-size: 52px;
    color: #f26b21;
    font-family: cursive;
    display: block;
    margin-bottom: 10px;
}

.logo h1 {
    font-size: 20px;
    letter-spacing: 1px;
}

.logo h2 {
    font-size: 16px;
    margin-top: 5px;
}

.logo p {
    font-size: 12px;
    margin-top: 8px;
    color: #ccc;
}

/* Icon Section */
.icon-section {
    margin: 40px 0;
}

.label {
    font-family: 'Poppins light';    font-size: 16px;
    color: #ffffff;
    display: block;
    margin: 10px 0;
    font-weight: 400;
}

/* Circles */
.circle {
    width: 90px;
    height: 90px;
    background: #f26b21;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.small {
    width: 70px;
    height: 70px;
}

/* Font Awesome icons */
.circle i {
    font-size: 40px;
    color: #fff;
}

/* Material Icons */
.material-symbols-outlined {
    color: #fff;
    line-height: 1;
}

/* Location icon */
.location-icon {
    font-size: 55px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 44;
}

/* Website icon (thin) */
.website-icon {
    font-size: 60px;
    font-variation-settings:
        'FILL' 0,
        'wght' 50,
        'GRAD' 0,
        'opsz' 46;
}

/* Description */
.description {
    font-family: 'Poppins light';
    font-size: 18px;
    color: #ccc;
    margin: 40px 0 15px;
    line-height: 1.5;
}

/* Social Icons */
.socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 50px; 
}

/* Links & Hover */
.icon-link,
.social-link {
    text-decoration: none;
}

.circle {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.circle:hover {
    transform: scale(1.08);
    box-shadow: 0 0 15px rgba(242, 107, 33, 0.8);
}

/* Mobile */
@media (max-width: 480px) {
    .circle {
        width: 80px;
        height: 80px;
    }

    .small {
        width: 60px;
        height: 60px;
    }
}
.fa-instagram {
    font-size: 50px;   /* 👈 change size here */
}
.font1  {
    font-family: 'Poppins light';
}
.font2  {
    font-family: 'arial';
}